.servicosMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 60px;
}

.servicosTitle{
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: rgb(78, 78, 78);
}

.servicosTitleMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;

        & p{
            font-size: 25px;
            font-weight: 600;
            color: rgb(78, 78, 78);

        }
}

.servicosSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 22px;
}
.servicosText{
    font-size: 16px;
    color: rgb(78, 78, 78);
}

@media screen and (max-width: 700px) {
    .servicosSection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .servicosTitle{
        font-size: 20px;
        font-weight: 600;
    }
    .servicosText{
        font-size: 15px;
    }
    
}