.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
    flex-wrap: wrap;
        & .card-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 365px;
            padding: 10px;
            border-radius: 10px;
            gap: 20px;
            background-color: #f5f5f5;
            transition: all 0.5s ease-in-out;
            font-family: Segoe Ui, sans-serif;
            & picture{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                & img{
                    border-radius: 12px;
                    width: 100%;
                    height: 100%;
                }
            }
            & .card-title{
                color: #d19b6e;
                font-size: 25px;
            }
            & .card-text{
                font-size: 16px;
                text-align: center;

            }
        }

        & .card-content:hover{
            background-color: #1BA3C0;
            scale: 1.1;
            transition: all 0.5s ease-in-out;

            & .card-title{
                color: #f5f5f5;
            }
            & .card-text{
                color: #f5f5f5;
            }
        }
}

@media screen  and (max-width: 700px) {
     .card-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 160px !important;
            height: 265px ! important;
            padding: 10px;
            border-radius: 10px;
            gap: 10px ! important;
            background-color: #f5f5f5;
            transition: all 0.5s ease-in-out;
            font-family: Segoe Ui, sans-serif;
            & picture{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                & img{
                    border-radius: 12px;
                    width: 100%;
                    height: 100%;
                }
            }
            & .card-title{
                color: #d19b6e;
                font-size: 17px ! important;
            }
            & .card-text{
                font-size: 12px ! important;
                text-align: center;

            }
        }
}