* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
}
p {
  color: #5e5e5e;
}

.cardsMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.bannerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  & .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 0px;
    background-color: #1ba3c0;
    & picture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    & .bannerText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      height: 330px;
      text-align: left;
      padding: 10px;
      gap: 70px;
      font-family: "Segoe UI", sans-serif;
      & .bannerText1 {
        font-weight: medium;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        color: white;
      }
      & .bannerText2 {
        font-weight: normal;
        text-align: center;
        font-size: 19px;
        color: white;
      }
      & .bannerButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 40px;
        border-radius: 12px;
        border: none;
        background-color: #0004ff;
        color: white;
      }
      & .bannerButton:hover {
        background-color: #fdfdfd;
        color: black;
        cursor: pointer;
       
      }
    }
  }
}

.oqueMovaPodeFazerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
  margin-top: 4rem;
  & .oqueMovaPodeFazerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: auto;
    & .TextMain {
      display: flex;
      justify-content: center;
      padding-left: 20px;
      align-items: center;
      width: 100%;
      height: auto;
      gap: 10px;
      margin-bottom: 2rem;
      & h1 {
        font-weight: normal;
        font-size: 30px;
        color: #21a2bf;
      }
    }
    & .Container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 87%;
      height: auto;
      gap: 30px;
      padding: 20px;

      & .CardHome {
        background-color: rgb(247, 247, 247);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 500px;
        height: 320px;
        gap: 20px;
        border-radius: 12px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);

        & .TextContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 90%;
          height: auto;
          gap: 14px;
          & .TextContainerTitle {
            font-weight: 500;
            font-size: 23px;
            color: #21a2bf;
            text-align: center;
          }
          & .TextContainerText {
            font-weight: normal;
            font-size: 14px;
            color: rgb(94, 94, 94);
          }
        }
      }
    }
    & .linkbutton {
      background-color: #1ba3c0;
      & button {
        width: 450px;
        height: 40px;
        border-radius: 7px;
        background-color: #21a2bf;
        color: white;
        font-size: 1.2rem;
        border: none;
      }
      & button:hover {
        background-color: #1ba3c0;
        cursor: pointer;
        scale: 1.1;
      }
    }
  }
}

.navegueMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.whereWeAreMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
  font-family: "Segoe UI", sans-serif;
}
.mapa {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: auto;
  padding: 10px;
  gap: 20px;


  & .mapaContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    position: relative;
    left: 2rem;
  }
  & .mapaTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: auto;
    font-weight: 500;
    font-size: 27px;
    gap: 10px;
    color: #1ba3c0;
  }
}

.footerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
  font-family: "Segoe UI", sans-serif;
  background-color: #1ba3c0;
}

@media screen and (max-width: 1060px) {
  .bannerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 330px;
    text-align: left;
    padding: 10px;
    gap: 30px !important;
    font-family: "Segoe UI", sans-serif;
    & .bannerText1 {
      font-weight: medium;
      font-size: 35px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      color: white;
    }
    & .bannerText2 {
      font-weight: normal;
      text-align: center;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 865px) {
  .bannerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    & .banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 0px 10px 0px 0px;
      background-color: #1ba3c0;
      height: auto;
      & picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        height: auto;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      & .bannerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 330px;
        text-align: left;
        padding: 10px;
        gap: 10px !important;
        font-family: "Segoe UI", sans-serif;
        & .bannerText1 {
          font-weight: medium;
          font-size: 27px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 200px;
          color: white;
        }
        & .bannerText2 {
          font-weight: normal;
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .bannerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    & .banner {
      display: flex;
      justify-content: end;
      align-items: flex-start;
      width: 100%;
      gap: 10px;
      padding: 0px 0px 0px 0px;
      background-image: url("/img/Design sem nome.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: auto;
      & picture {
        display: none;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      & .bannerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 330px;
        text-align: left;
        padding: 10px;
        gap: 14px !important;
        font-family: "Segoe UI", sans-serif;
        background-color: rgba(1, 120, 255, 0);
        backdrop-filter: blur(3px);
        & .bannerText1 {
          font-weight: bold;
          font-size: 27px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 200px;
          color: white;
        }
        & .bannerText2 {
          font-weight: bold;
          text-align: center;
          font-size: 12px;
        }
        & .bannerButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 30px;
        border-radius: 12px;
        border: none;
        background-color: #0004ff;
        color: white;
      }
      & .bannerButton:hover {
        background-color: #fdfdfd;
        color: black;
        cursor: pointer;
       
      }
      }

    }
  }
  .cardsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px;
  }
  & .Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 87%;
    height: auto;
    gap: 30px;
    padding: 20px;

    & .CardHome {
      background-color: rgb(247, 247, 247);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 500px;
      height: 320px;
      gap: 20px;
      border-radius: 12px;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);

      & .TextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: auto;
        gap: 14px;
        & .TextContainerTitle {
          font-weight: 500;
          font-size: 23px;
          color: #21a2bf;
        }
        & .TextContainerText {
          font-weight: normal;
          font-size: 14px;
          color: rgb(94, 94, 94);
        }
      }
    }
  }
  & .linkbutton {
    background-color: #1ba3c0;
    & button {
      width: 250px !important;
      height: 40px;
      border-radius: 7px;
      background-color: #21a2bf;
      color: white;
      font-size: 0.8rem !important;
      border: none;
    }
    & button:hover {
      background-color: #1ba3c0;
      cursor: pointer;
      scale: 1.1;
    }
  }
}

@media screen and (max-width: 425px) {
  .bannerMain {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    & .banner {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 10px;
      padding: 0px 0px 0px 0px;
      background-image: url("/img/Design sem nome.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: auto;
      & picture {
        display: none;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      & .bannerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 330px;
        text-align: left;
        padding: 10px;
        gap: 0px !important;
        font-family: "Segoe UI", sans-serif;
        background-color: rgba(1, 120, 255, 0);
        backdrop-filter: blur(3px);
        & .bannerText1 {
          font-weight: bold;
          font-size: 20px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 200px;
          color: white;
        }
        & .bannerText2 {
          font-weight: bold;
          text-align: center;
          font-size: 9px;
        }

        & .bannerButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        border-radius: 12px;
        border: none;
        background-color: #0004ff;
        color: white;
        margin-top: 2rem;
        font-size: 10px;
      }
      & .bannerButton:hover {
        background-color: #fdfdfd;
        color: black;
        cursor: pointer;
       
      }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .Container {
    & img {
      width: 200px;
      height: 200px;
    }
  }
  .TextContainerTitle {
    font-size: 24px !important;
  }
  .TextContainerText {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 600px) {
  .oqueMovaPodeFazerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
    margin-top: 2rem;
    & .oqueMovaPodeFazerSection {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 95%;
      height: auto;
      & .TextMain {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 10px;
        & h1 {
          font-weight: normal;
          font-size: 30px;
          color: #21a2bf;
        }
      }
      & .Container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 87%;
        height: auto;
        gap: 20px;
        padding: 20px;

        & .CardHome {
          background-color: rgb(247, 247, 247);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 500px;
          height: auto;
          gap: 20px;
          border-radius: 12px;
          padding: 10px;

          & img {
            width: 70px;
            height: 70px;
          }

          & .TextContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 90%;
            height: auto;
            gap: 14px;
            & .TextContainerTitle {
              font-weight: 500;
              font-size: 19px;
              color: #21a2bf;
            }
            & .TextContainerText {
              font-weight: normal;
              font-size: 12px;
              color: rgba(0, 0, 0, 0.678);
            }
          }
        }
      }
    }
  }
}

.ContatoPageMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
  width: 80%;
}
.ContatoPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  padding: 10px;
  margin-top: 2rem;
  gap: 15px;
  & ul {
    position: relative;
    left: 4rem;
  }
}
.ContatoPageTitle {
  font-weight: 500;
  font-size: 28px;
  color: #21a2bf;
}
.ContatoPageText {
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.678);
}

.NavegueMainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
  width: 100%;
}
