.NavBarMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
  & .custom-logoEnteredLazyloaded {
    width: 130px;
    height: 60px;
  }
  & h2 {
    font-weight: 500;
    font-size: 25px;
  }
}
a {
  cursor: pointer;
}
.languagens {
  display: flex;
  gap: 10px;
  & .Bandeira {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 700px) {
  .NavBarMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
    padding: 10px;
    & .custom-logoEnteredLazyloaded {
      width: 120px;
      height: 50px;
    }
  }
  .languagens {
    display: flex;
    gap: 10px;
    & .Bandeira {
      width: 40px;
      height: 40px;
    }
  }
}

.titleNav
{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
  & h2{
    font-weight: 550;
    font-size: 16px;
      & a:hover{
        color: #21A2BF;
      }
      & a:focus{
        
        color: #21A2BF;
      }
  }
}

@media screen and (max-width:830px){
  .titleNav
{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 14px;
  & h2{
    font-weight: 500;
    font-size: 12px;
      & a:hover{
        color: #21A2BF;
      }
      & a:focus{
        
        color: #21A2BF;
      }
  }
}
}

@media screen and (max-width: 356px) {
  .NavBarMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
    padding: 10px;
    & .custom-logoEnteredLazyloaded {
      width: 80px;
      height: auto;
    }
    & h2 {
      font-weight: 500;
      font-size: 17px;
    }
  }
  .languagens {
    display: flex;
    gap: 10px;
    & .Bandeira {
      width: 30px;
      height: 30px;
    }
  }
}

.NavBarMainReponsivo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
    & .titleNav{
      display: none;
    }
    & .languagens{
      display: none;
    }
    & img{
      width: 120px;
    }
}
.RiMenu2LineReponsivo{
  position: absolute;
  display: block;
  top: 22px;
  right: 87%;
  border: none;
  background-color: transparent; 
}
.RiMenu2Line{
  display: none;
}

.menuMobile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  background-color: #21A2BF;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
  z-index: 1;
  & .languagensMobile{
    display: flex;
    gap: 10px;
    & .Bandeira{
      width: 40px;
      height: 40px;
    }
  }
}
.titleNavMobile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  & h2{
    font-weight: 500;
    font-size: 14px;
    color: white;
      & a:hover{
        color: #21A2BF;
      }
      & a:focus{
        
        color: #21A2BF;
      }
  }
}
.languagensMobile{
  display: flex;
  gap: 10px;
  & .Bandeira{
    width: 40px;
    height: 40px;
  }
}
.noneMobile{
  display: none;
}

