.navegueMainContainer{
    gap: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;

    & .navegueTit{
        font-weight: 400;
        font-size: 27px;
        color: #21a2bf;
    }
    & .navegueList{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: red;
        & .navegueListItem{
            cursor: pointer;
            position: relative;
            left: 4rem;
            & a{
                font-size: 18px;
                text-decoration: underline;
                color: rgb(245, 0, 0);
            }
        }
    }
}